@charset "UTF-8";
:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --main-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --main-duration: 250ms;
  --main-text-color: #212121;
  --secondary-text-color: #ffffff;
  --paragraph-text-color: #757575;
  --main-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --accent-color: #2196f3;
  --icon-color: #afb1b8;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* 
Альтернативный вариант от Олексея
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden; */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.link {
  color: var(--main-text-color);
  text-decoration: none;
}

.list {
  list-style: none;
}

body {
  font-family: var(--main-font);
  color: var(--main-text-color);
  letter-spacing: 0.03em;
  background-color: var(--main-background-color);
}

body.modal-open {
  overflow: hidden;
}

.container {
  max-width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

.section-heading {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .section-heading {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.team__social-list {
  display: flex;
  justify-content: center;
}

.team__social-item {
  width: 44px;
  height: 44px;
}

.team__social-item:not(:last-child) {
  margin-right: 10px;
}

.team__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--main-background-color);
  transition: background-color var(--main-duration) var(--main-timing-function);
}

.team__social-link:hover, .team__social-link:focus {
  background-color: var(--accent-color);
}

.team__social-icon {
  display: inline-block;
  fill: var(--icon-color);
  transition: fill var(--main-duration) var(--main-timing-function);
}

.team__social-link:hover .team__social-icon,
.team__social-link:focus .team__social-icon {
  fill: var(--secondary-text-color);
}

.social__list {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.social__subheading {
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  color: var(--secondary-text-color);
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color var(--main-duration) var(--main-timing-function);
}

.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
}

.social__icon {
  display: inline-block;
  fill: var(--secondary-text-color);
}

@media screen and (min-width: 1200px) {
  .social__list {
    margin-bottom: 0;
  }
  .social__subheading {
    text-align: left;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--main-duration) var(--main-timing-function), visibility var(--main-duration) var(--main-timing-function);
}

.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 93.75%;
  padding: 40px;
  background-color: var(--main-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 6px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.modal__close-icon {
  width: 11px;
  height: 11px;
  display: block;
  transition: fill var(--main-duration) var(--main-timing-function);
}

.modal__close-button:hover .modal__close-icon,
.modal__close-button:focus .modal__close-icon {
  fill: var(--accent-color);
}

.modal__title {
  display: block;
  text-align: center;
  font-size: 20px;
  line-height: 1.15;
}

.modal__label {
  display: block;
  margin-top: 10px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--paragraph-text-color);
}

.modal__label:first-child {
  margin-top: 12px;
}

.modal__span {
  position: relative;
  display: block;
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  display: block;
  fill: var(--main-text-color);
  transition: fill var(--main-duration) var(--main-timing-function);
  cursor: pointer;
}

.modal__input:focus + .modal__icon {
  fill: var(--accent-color);
}

.modal__input {
  display: block;
  width: 100%;
  height: 40px;
  margin-top: 4px;
  padding-left: 42px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border var(--main-duration) var(--main-timing-function);
}

.modal__input:focus {
  border: 1px solid #2196f3;
  outline: none;
}

.modal__textarea {
  display: block;
  width: 100%;
  height: 120px;
  margin-top: 4px;
  margin-bottom: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border var(--main-duration) var(--main-timing-function);
  resize: none;
}

.modal__textarea:focus {
  border: 1px solid #2196f3;
  outline: none;
}

.modal__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__checkbox {
  display: inline;
  font-size: 12px;
  line-height: 1.17;
  color: var(--paragraph-text-color);
  letter-spacing: 0.03em;
}

.modal__hidden-input {
  position: absolute;
}

.modal__custom-icon {
  margin-right: 7px;
  stroke: var(--main-text-color);
  stroke-width: 1.7px;
  fill: transparent;
  cursor: pointer;
}

.modal__hidden-input:checked + .modal__custom-icon {
  stroke: transparent;
  stroke-width: 0px;
  fill: var(--accent-color);
}

.modal__agreement {
  color: var(--accent-color);
}

.modal__submit-button {
  display: block;
  min-width: 90px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 55px;
  padding-right: 55px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color var(--main-duration) var(--main-timing-function);
}

.modal__submit-button:hover, .modal__submit-button:focus {
  background-color: #188ce8;
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
  .modal__checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
  .modal__checkbox {
    font-size: 14px;
    line-height: 1.71;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  visibility: hidden;
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 48px;
  padding-right: 15px;
  padding-bottom: 48px;
  padding-left: 40px;
  background: var(--main-background-color);
  overflow: auto;
  opacity: 0;
  pointer-events: none;
}

.mobile-menu.is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.mobile-menu__close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: transparent;
  border: none;
  transition: fill var(--main-duration) var(--main-timing-function);
  cursor: pointer;
}

.mobile-menu__close-button:focus, .mobile-menu__close-button:hover {
  fill: var(--accent-color);
}

.mobile-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.mobile-contacts__item:first-child {
  margin-bottom: 32px;
}

.mobile-contacts__item:last-child {
  margin-bottom: 64px;
}

.mobile-contacts__phone {
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 34px;
  line-height: 40px;
  color: var(--accent-color);
}

.mobile-contacts__mail {
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 24px;
  line-height: 28px;
  color: var(--paragraph-text-color);
}

.mobile-social {
  display: flex;
  flex-wrap: wrap;
}

.mobile-social__item:not(:first-child) {
  padding-left: 10px;
}

.mobile-social__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.current {
  position: relative;
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
}

.main-header__container {
  display: flex;
}

.main-header__navigation {
  display: flex;
  align-items: center;
}

.logo {
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 16px;
  color: #000000;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.05);
}

.logo__accent {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .logo {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.19;
  }
}

.menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu {
    display: flex;
    align-items: center;
  }
  .menu__item:not(:last-child) {
    margin-right: 50px;
  }
  .menu__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 31px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color var(--main-duration) var(--main-timing-function);
  }
  .menu__link:hover, .menu__link:focus {
    color: var(--accent-color);
  }
}

.contacts {
  display: none;
}

@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    align-items: flex-start;
  }
  .contacts__item {
    padding: 0;
  }
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
  .contacts__link {
    display: flex;
    align-items: center;
    color: var(--paragraph-text-color);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    transition: color var(--main-duration) var(--main-timing-function);
  }
  .contacts__link:hover, .contacts__link:focus {
    color: var(--accent-color);
  }
  .contacts__icon {
    display: block;
    margin-right: 10px;
    fill: var(--paragraph-text-color);
  }
  .contacts__link:hover .contacts__icon,
  .contacts__link:focus .contacts__icon {
    fill: var(--accent-color);
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    flex-direction: row;
    align-items: center;
  }
  .contacts__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 30px;
  }
  .contacts__link {
    font-size: 14px;
  }
  .contacts__icon {
    width: 16px;
    height: 16px;
  }
}

.main-header {
  border-bottom: 1px solid #ececec;
}

.main-header__container {
  position: relative;
}

.mobile-menu-button {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.mobile-menu-button__icon {
  fill: #000000;
}

.mobile-menu-button:hover .mobile-menu-button__icon,
.mobile-menu-button:focus .mobile-menu-button__icon {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .mobile-menu-button {
    display: none;
  }
}

.hero {
  max-width: 480px;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(48, 49, 59, 0.4), rgba(48, 49, 59, 0.4)), url(../images/hero/hero-mob-480x400.jpg);
  background-size: cover;
  background-position: 50% 50%;
}

.hero__heading {
  margin-bottom: 30px;
  color: var(--secondary-text-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.hero__button {
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  color: var(--secondary-text-color);
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--main-duration) var(--main-timing-function);
  cursor: pointer;
}

.hero__button:hover, .hero__button:focus {
  background-color: #188ce8;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(48, 49, 59, 0.4), rgba(48, 49, 59, 0.4)), url(../images/hero/hero-mob-480x400@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(rgba(48, 49, 59, 0.4), rgba(48, 49, 59, 0.4)), url(../images/hero/hero-tab-768x400.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(48, 49, 59, 0.4), rgba(48, 49, 59, 0.4)), url(../images/hero/hero-tab-768x400@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(48, 49, 59, 0.4), rgba(48, 49, 59, 0.4)), url(../images/hero/hero-desk-1600x600.jpg);
  }
  .hero__heading {
    font-size: 44px;
    line-height: 1.36;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(48, 49, 59, 0.4), rgba(48, 49, 59, 0.4)), url(../images/hero/hero-desk-1600x600@2x.jpg);
  }
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}

.features__illustration {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 450px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--secondary-background-color);
  border-radius: 4px;
}

.features__heading {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}

.features__paragraph {
  color: var(--paragraph-text-color);
  font-size: 14px;
  line-height: 1.71;
}

.features__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .features__heading {
    text-align: left;
  }
  .features__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .features__item {
    flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
  .features__item:not(:last-child) {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .features__item {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.doing {
  display: none;
}

@media screen and (min-width: 1200px) {
  .doing {
    display: block;
    padding-bottom: 94px;
  }
  .doing__list {
    display: flex;
  }
  .doing__item {
    position: relative;
    width: calc((100% - 60px) / 3);
  }
  .doing__item:not(:last-child) {
    margin-right: 30px;
  }
  .doing__img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  .doing__description {
    display: block;
    padding-top: 27px;
    padding-bottom: 27px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--secondary-text-color);
    text-align: center;
  }
  .doing__block {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(48, 49, 59, 0.8);
  }
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-background-color);
}

.team__item {
  background: var(--main-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__item:not(:last-child) {
  margin-bottom: 30px;
}

.team__img {
  display: block;
  max-width: 100%;
}

.team__desc {
  padding-top: 30px;
  padding-bottom: 24px;
  padding-left: 15px;
  padding-right: 15px;
}

.team__subheading {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__profession {
  margin-bottom: 16px;
  color: var(--paragraph-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .team__item {
    flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
  .team__item:not(:last-child) {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .team__item {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--main-background-color);
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.clients__item {
  height: 92px;
  width: calc((100% - 60px) / 2);
  margin: 15px;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  transition: border var(--main-duration) var(--main-timing-function);
}

.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--accent-color);
}

.clients__icon {
  fill: var(--icon-color);
  transition: fill var(--main-duration) var(--main-timing-function);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .clients__item {
    flex-basis: calc((100% - 180px) / 6);
  }
}

.main-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.main-footer__contacts {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
}

.main-footer__item:not(:last-child) {
  margin-bottom: 8px;
}

.main-footer__item:last-child {
  margin-bottom: 60px;
}

.main-footer__link {
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--main-duration) var(--main-timing-function);
}

.main-footer__link:focus, .main-footer__link:hover {
  color: var(--accent-color);
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
  margin-right: 0px;
  padding: 0;
  text-align: center;
  color: var(--secondary-text-color);
}

.address-link {
  color: var(--secondary-text-color);
  transition: color var(--main-duration) var(--main-timing-function);
}

.address-link:focus, .address-link:hover {
  color: var(--accent-color);
}

.footer-form__subheading {
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  color: var(--secondary-text-color);
}

.footer-form__input {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  margin-bottom: 20px;
  color: var(--secondary-text-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  transition: border var(--main-duration) var(--main-timing-function);
}

.footer-form__input:focus {
  border: 1px solid var(--accent-color);
  outline: none;
  cursor: var(--accent-color);
}

.footer-form__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__button {
  position: relative;
  min-width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 62px;
  color: var(--secondary-text-color);
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color var(--main-duration) var(--main-timing-function);
  cursor: pointer;
}

.footer-form__button:hover, .footer-form__button:focus {
  background-color: #188ce8;
}

.footer-form__icon {
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  fill: var(--secondary-text-color);
}

@media screen and (min-width: 768px) {
  .main-footer__container {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .footer-form__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .main-footer__container {
    justify-content: space-between;
  }
  .main-footer__contacts {
    text-align: left;
  }
  .main-footer__item:last-child {
    margin-bottom: 0;
  }
  .footer-logo {
    text-align: left;
  }
  .footer-form {
    display: inline-block;
  }
  .footer-form__subheading {
    text-align: left;
  }
  .footer-form__input {
    width: 358px;
    margin-right: 12px;
  }
  .footer-form__button {
    display: inline-block;
    margin: 0;
  }
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}

.filter {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  margin-top: -7.5px;
  margin-bottom: -7.5px;
  margin-right: -4px;
  margin-left: -4px;
  margin-bottom: 42.5px;
}

.filter__item {
  margin-top: 7.5px;
  margin-bottom: 7.5px;
  margin-right: 4px;
  margin-left: 4px;
}

.filter__button {
  min-width: 73px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  font-family: var(--main-font);
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  background-color: var(--secondary-background-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color var(--main-duration) var(--main-timing-function), color var(--main-duration) var(--main-timing-function), box-shadow var(--main-duration) var(--main-timing-function);
}

.filter__button:hover, .filter__button:focus {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -15px;
}

.card-list__item {
  margin: 15px;
}

.card-list__link {
  display: block;
  transition: box-shadow var(--main-duration) var(--main-timing-function);
}

.card-list__link:hover, .card-list__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card {
  position: relative;
  overflow: hidden;
}

.card__img {
  display: block;
  max-width: 100%;
}

.card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--secondary-text-color);
  background-color: rgba(33, 150, 243, 0.9);
  overflow: auto;
  transform: translateY(101%);
  transition: transform var(--main-duration) var(--main-timing-function);
}

.card-list__link:hover .card__overlay,
.card-list__link:focus .card__overlay {
  transform: translateY(0%);
}

.card__content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.card__heading {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card__paragraph {
  color: var(--paragraph-text-color);
  font-size: 16px;
  line-height: 1.87;
}

@media screen and (min-width: 768px) {
  .filter {
    justify-content: center;
  }
  .card-list {
    justify-content: flex-start;
  }
  .card-list__item {
    flex-basis: calc((100% - 60px) / 2);
  }
  .first-card {
    padding-bottom: 56px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .filter {
    justify-content: center;
  }
  .card-list {
    justify-content: flex-start;
  }
  .card-list__item {
    flex-basis: calc((100% - 90px) / 3);
  }
  .first-card {
    padding-bottom: 20px;
  }
}

.main-contacts {
  padding-top: 60px;
  padding-bottom: 60px;
}
/*# sourceMappingURL=main.css.map */