.features {
  padding-top: 60px;
  padding-bottom: 60px;

  &__illustration {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 450px;
    height: 120px;
    margin-bottom: 30px;

    background-color: var(--secondary-background-color);
    border-radius: 4px;
  }

  &__heading {
    margin-bottom: 10px;

    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    text-align: center;
  }

  &__paragraph {
    color: var(--paragraph-text-color);
    font-size: 14px;
    line-height: 1.71;
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

@media screen and (min-width: 768px) {
  .features {
    &__heading {
      text-align: left;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
    }

    &__item {
      flex-basis: calc((100% - 60px) / 2);
      margin: 15px;

      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
    &__item {
      flex-basis: calc((100% - 120px) / 4);
    }
  }
}
