.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  width: 100vw;
  height: 100vh;
  overflow: hidden;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity var(--main-duration) var(--main-timing-function),
    visibility var(--main-duration) var(--main-timing-function);
}

.is-hidden {
  pointer-events: none;
  visibility: hidden;

  opacity: 0;
}
